{% extends "base.html" %}
{% load static %}
{% block content %}

<main id="main">

  <!-- ======= Education Section ======= -->
  <section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Education</h2>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="resume-item">
            <h4>Bachelor of Science in Mechanical Engineering</h4>
            <h5>2015 - 2020</h5>
            <p><em>University of Tehran, Tehran, Iran</em></p>
          </div>
          <div class="resume-item">
            <h4>Mathematics & Physics Diploma</h4>
            <h5>2008 - 2015</h5>
            <p><em>Allameh Helli High School, Malard, Tehran, Iran</em></p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Education Section -->

</main><!-- End #main -->

{% endblock %}